<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".config" allowed="false" />
                    <add fileExtension=".env" allowed="false" />
                    <add fileExtension=".bak" allowed="false" />
                    <add fileExtension=".old" allowed="false" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment="App_Data" />
                    <add segment="bin" />
                </hiddenSegments>
                <verbs>
                    <add verb="PUT" allowed="false" />
                    <add verb="DELETE" allowed="false" />
                    <add verb="TRACE" allowed="false" />
                    <add verb="TRACK" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
